@media only screen and (min-width: 681px) {
  .active .tutorials,
  .active .methods {
    display: block;
  }

  .tutorials, .methods {
    display: none;
  }

  nav > ul {
    padding-top: 15px;
  }

  nav > ul > li {
    padding: 20px 0;
  }

  nav > ul > li > a {
    padding: 0;
  }

  nav > ul > li.active a {
    margin-bottom: 10px;
  }

  nav > ul > li.active > a {
    margin-bottom: 15px;
  }
}
